<img src="assets/logo.png" id="logo"/><h1 class="title">Exchange Room Tool</h1>
<div *ngIf="initializing" class="loading">
  <img src="assets/gradient-loader.gif"/>
  <div>Loading, please wait...</div>
</div>
<div *ngIf="!initializing">
  <div>
    <input *ngIf="!uploading" type="file" name="rooms" accept=".csv" value="Add Rooms" (change)="uploadFile($event)"/>
  </div>
  <table *ngIf="rooms.length > 0" cellpadding="5" cellspacing="5" border="1">
    <thead>
      <tr>
        <th>Display Name</th>
        <th>Email</th>
        <th>Capacity</th>
        <th>Company</th>
        <th>Department</th>
        <th>Floor</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of rooms">
        <td>{{room.DisplayName}}</td>
        <td>{{room.PrimarySmtpAddress}}</td>
        <td>{{room.ResourceCapacity}}</td>
        <td>{{room.Company}}</td>
        <td>{{room.Department}}</td>
        <td>{{room.Floor}}</td>
        <td>{{room.Street}}</td>
        <td>{{room.City}}</td>
        <td>{{room.State}}</td>
        <td>{{room.Zip}}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="rooms.length == 0">
    <h2>No rooms to display</h2>
  </div>
</div>