/* You can add global styles to this file, and also import other style files */

#logo {
    height: 75px;
    vertical-align: top;
}

.title {
    display: inline-block; 
    border-left: 1px solid black;
    margin-left: 15px;
    padding-left: 10px;
    line-height: 1.5em;
}

.loading {
    position: absolute; 
    left: calc(50% - 100px); 
    top: calc(50% - 75px);
}

.loading img {
    height: 150px;
}

.loading div {
    width: 200px; 
    text-align: center; 
    position: relative; 
    top: -50px; 
    font-weight: bold;
}

@media only screen and (max-width:485px) {
    .title {
        border: 0;
        margin: 0;
        padding: 0;
    }
}